@using Domain.Entities
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager
<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity!.Name
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form asp-action="Logout" asp-controller="Account" method="post" style="display:inline;">
                @Html.AntiForgeryToken()
                <button class="dropdown-item" type="submit" style="border:none; background:none;">
                    Logout
                </button>
            </form>
            <li><a class="dropdown-item" href="#">Reset Password</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Get Help</a></li>
          </ul>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>